@charset "UTF-8";
@media screen and (min-width:380px) and (max-width: 580px) {
    *{
        padding: 0px;
        margin: 0px;
    }

    body{
        background-image:linear-gradient(to top, rgba(50, 207, 50, 0.664), #FFFFFF 30%) ;
        color: rgb(0, 0, 0);
        height: 100vh;
        width: 100vw;
    }
      /*Configurações do header*/
    header{
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
        display: flex;
        height: 14vh ;
    }
    
      
    /*H1 referente ao titulo principal, nome do aplicativo */
    
   
    header > h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.5em;
        
    }
    header > a {
        text-decoration: none;
        color: rgb(0, 255, 85);
        margin: 10px;
        padding: 10px; 
    }

    /*Campos de identificação : nome, cidade, n de freelas, avaliações*/

    .identifi{
        position: absolute;
        right: 200px;
        text-align: center;
        padding: 10px;
        margin: 15px 0px;

        
    }

    .saldo{
        position: absolute;
        right: 50px;
        text-align: center;
        padding: 10px;
        margin: 15px 0px;
    }

    .identifi > p {
        font-size: 0.7em;
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .saldo > p {
        font-size: 0.7em;
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }





    /*Blocos de apresentação da identificação do usuario com a classe  .apresentacao (apresentação de dados*/
     span{
        background-color: rgb(43, 255, 0);
        padding: 5px;
        height: 4px;
        width: 150px;
        text-decoration: underline;
    }



    /*Texto de apresentação e dicas*/
    article{
        margin: 20px;
        padding: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /*Titulo da Area de escolha*/
    section > h1 {
        text-align: center;
        color: green;
        padding: 10px;
        font-size: 1.8em;
    }
    /*area de escolha*/
    #freelas{
        margin: auto;
        border: 2px solid rgb(0, 255, 34);
        height: 35vh;
        width: 95vw;
        background-color: #FFFFFF;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
    }


    
}